h1{
     text-shadow: 1px 1px black;
     text-align: center;
     background-color: rgb(248, 246, 246);
     color: rgb(104, 103, 103);
     font-family: 'Comfortaa', cursive;
     font-size: 40px;
     padding: 10px 10px 10px ;
     position: sticky;
     top: 0;
     border-style: outset;
     border-width: 1pt;
}

 img{
   padding-top: 70px;
   padding-left: 36%;
   height: 80%;
   width: 30%;
   border-radius: 3%;
   border: 50px;
   
 }


 .all{
   line-height: 50px;
   position: relative;
   display: block;
   text-align: left;
   font-size: 20px;
   height: 10px;
   padding-left: 36%;
   text-decoration: underline;
   font-family: 'Comfortaa', cursive;
   opacity: 0.8;
   color: black;
 }

 .etc{

   font-size: 20px;
   text-align: initial;
   line-height: 50px;
   height: 50px;
   padding: 50px;
   color: black;
   font-family: 'Comfortaa', cursive;

 }

 .footer{

   text-align: center;
   font-size: 15px;
   
 }
 .lot{
font-size: 20px;
text-align: left;
line-height: 10px;
font-family: 'Comfortaa', cursive;
color: black;

 }

 body{
    background-color: rgb(212, 208, 208);
   
 }
 .fa-facebook {
   background: #3B5998;
   color: white;
   
 }
 .fa-snapchat {
   background: rgb(241, 217, 0);
   color: white;
   padding-left: 10px;
   padding-right: 10px;
}
 .fa-instagram {
   background: rgb(192, 31, 106);
   color: white;
 }
 .fa-whatsapp {
   background: rgb(84, 201, 68);
   color: white;
 }

 .fa {
   padding: 50px;
   font-size: 20px;
   width: 50px;
   text-align: center;
   text-decoration: none;
   border-radius: 50%;
   margin: 30px 30px 30px 30px !important;
   text-align: center;
   
 }
 .fa:hover {
   opacity: 0.7;
 }

.one{
  width: 90%;
  
}
.two{
  width: 90%;
}