h1{
    text-align: center;
    background-color: white;
     color: black;
     font-family: 'Times New Roman', Times, serif;
     font-size: 300%;
     padding: 10px 20px 40px ;
    

}

h2{
    text-align: center;
    background-color: white;
     color:black ;
     font-family: sans-serif;
     font-size: 120%;
}

h3{
    text-align: left;
    background-color: whitesmoke;
     color: black;
     font-family: sans-serif;
     font-size: 120%;
}

 body {
    font-family: sans-serif;
    font-size: 19px;
    height: 800px;
    line-height: normal;
 }

p  {
    color: whitesmoke;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 120%;
    border: 1px solid powderblue;
    padding: 190px;
    text-align: left;
    background-image: url(https://images.hdqwalls.com/wallpapers/bthumb/texture-graphic-abstract-colorful-background-y9.jpg);
  }

 ul li {
    text-align: left;
    text-decoration: none;
    color: white;
    background-color: powderblue;
    list-style: decimal;
    display: none;
    
 } 

 ol li {
    
    background:whitesmoke;
     padding: 90px;
     font-size: 110%;
     text-align: center;
 }

 footer{ 

  width: 100%;
  background-color: #ff9999;
  color: blue;
  text-align: center;

 }