h1{
    text-align: center;
    background-color: powderblue;
     color: blue;
     font-family: verdana;
     font-size: 300%;
}

p  {
    color: red;
    font-family: courier;
    font-size: 160%;
    border: 1px solid powderblue;
    padding: 30px;
    text-align: left;
  }

 ul li {
    text-align: center;
    text-decoration: none;
    color: blue;
 } 

 ol li {
    list-style: decimal;
    background: #ff9999;
     padding: 20px;
 }